<a href="https://colab.research.google.com/github/2303a52371/AIML_2303a52371/blob/main/2303A52371_Q(25)_Batch(34).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

file_path = '/content/buddymove_holidayiq.csv'
data = pd.read_csv(file_path)

In [ ]:
attribute_means = data.drop(columns=['User Id']).mean().sort_values(ascending=False)

top_5_attributes = attribute_means.head(5)
print("Top 5 Attributes for South India Destinations:")
print(top_5_attributes)

Top 5 Attributes for South India Destinations:
Nature       124.518072
Picnic       120.401606
Theatre      116.377510
Shopping     112.638554
Religious    109.779116
dtype: float64

In [ ]:
most_liked_attribute = attribute_means.idxmax(), attribute_means.max()
print("\nAttribute with Most Liked Travel Spots:", most_liked_attribute)

Attribute with Most Liked Travel Spots: ('Nature', 124.51807228915662)

In [ ]:
max_attribute = attribute_means.idxmax(), attribute_means.max()
min_attribute = attribute_means.idxmin(), attribute_means.min()

print("\nMaximum Attribute of Choice:", max_attribute)
print("Minimum Attribute of Choice:", min_attribute)

Maximum Attribute of Choice: ('Nature', 124.51807228915662)
Minimum Attribute of Choice: ('Sports', 11.987951807228916)

In [ ]:
role_analysis = data[['Nature', 'Picnic', 'Theatre', 'Shopping']].mean()

print("\nRole Analysis for Beaches, Theatres, Malls, and Parks:")
print(role_analysis)

Role Analysis for Beaches, Theatres, Malls, and Parks:
Nature      124.518072
Picnic      120.401606
Theatre     116.377510
Shopping    112.638554
dtype: float64

In [ ]:
sports_attribute_mean = data['Sports'].mean()
print("\nSports Attribute Mean Rating:", sports_attribute_mean)

Sports Attribute Mean Rating: 11.987951807228916

In [ ]:
features = ['Nature', 'Picnic', 'Theatre']
X = data[features]

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

kmeans = KMeans(n_clusters=3, random_state=42)
clusters = kmeans.fit_predict(X_scaled)

In [ ]:
X = data.drop(columns=['User Id'])
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
kmeans = KMeans(n_clusters=3, random_state=42)
clusters = kmeans.fit_predict(X_scaled)

data['Cluster'] = clusters

print("\nCluster Distribution:")
print(data['Cluster'].value_counts())

Cluster Distribution:
Cluster
2    114
0     79
1     56
Name: count, dtype: int64